@using CommunityWeb.Models; 

@model List<MsdnBlogFeedItem>

@{ ViewData["Title"] = "Blogs"; }

@{
    var blogCategories = (IEnumerable<Blog>)ViewBag.BlogCategories;
}

<div>
    <div class="hero-banner hero-banner-blogs">
        <div class="row">
            <div class="col-md-12">
                <h1 class="hero-banner-header">
                    .NET Articles
                </h1>
                <div class="hero-banner-title">
                    News and insights on .NET technology, tools, and events.
                </div>
            </div>

        </div>
    </div>

    @{ int categoryCount = 0; }

    @for(int i = 0; i < blogCategories.Count(); i++)
    {
        var currentCategory = blogCategories.ElementAt(i);

        string sectionClass = (categoryCount % 2 == 0) ? "info-section-light-blue" : "";
        string calloutClass = (categoryCount % 2 == 0) ? "" : "bs-callout-gray";

        var articlesInCurrentCategory = Model.Where(x => currentCategory.Categories.Any(c => x.Categories.Contains(c)));

        if (articlesInCurrentCategory.Count() == 0) {
            continue;
        }

        <div id="articles-@currentCategory.Id" class="info-section @sectionClass">
            <div class="container">
                <div class="info-section-header">
                    <h2 class="underlined-heading margin-bottom-60 uppercase">@currentCategory.Name</h2>
                </div>
                <div class="info-section-description">
                    @{ int articleCount = 0; }
                    @foreach(var item in articlesInCurrentCategory) 
                    {
                        <div class="bs-callout bs-callout-info @calloutClass">
                            <h4><a href="@item.Link" target="_blank">@item.Title</a></h4>
                            <p>
                                @Html.Raw(item.Description)
                            </p>
                        </div>

                        if (++articleCount == 5)
                        {
                            break;
                        }
                    }
                </div>
            </div>
        </div>

        categoryCount++;
    }
</div>

@section scripts {
    <script>
        $(".read-more").attr("target","_blank");

        $('#hearder-main-menu-blogs').addClass("active");
    </script> 
}
