@using CommunityWeb.Models;
@using CommunityWeb.Constants;

@{ 
    ViewData["Title"] = "dotnet.sg"; 
    Layout = null;

    const int MAXIMUM_NUMBER_OF_FACEBOOK_FEEDS = 4;

    var meetupEvents = (IEnumerable<MeetupEvent>)ViewBag.MeetupEvents;

    var facebookFeeds = (List<FacebookFeed>)ViewBag.FacebookGroupFeeds;
}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>dotnet.sg - Singapore .NET Developers Community</title>

  <meta name="description" content="Hello! We are the .NET developers community in Singapore! Join us at our meetups to find out more about Microsoft .NET technology.">

  <!-- for Facebook -->
  <meta property="og:title" content="Singapore .NET Developers Community">
  <meta property="og:description" content="Hello! We are the .NET developers community in Singapore! Join us at our meetups to find out more about Microsoft .NET technology.">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://dotnet.sg/images/meetup-banner-3.jpg" />
  <meta property="og:url" content="http://dotnet.sg/" />

  <link rel="shortcut icon" href="favicon.png">

  <link rel="apple-touch-icon-precomposed" href="apple-icon-180x180.png">
  <link rel="icon" href="apple-icon-180x180.png">


  <link rel="image_src" type="image/png" href="http://dotnet.sg/images/meetup-banner-3.jpg">

  <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/show-more.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/customized-fonts.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/header-background.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
            asp-fallback-test-class="fa" asp-fallback-test-property="display" asp-fallback-test-value="inline-block" />

        <link rel="stylesheet" href="~/css/index.min.css" asp-append-version="true" />
    </environment>

  
</head>

<body>
  <header class="globalNav noDropdownTransition">


    <div class="container-lg">
      <ul class="navRoot">


        <li class="navSection logo">
          <a class="rootLink item-home colorize" href="/">
            <h1 id="brand">
              .NET SG
            </h1>
          </a>
        </li>

        <li class="navSection primary">
          <a class="rootLink colorize" href="/#about-us">About Us</a>
          <a class="rootLink colorize" href="/#meetups">Meetups</a>
          <a class="rootLink colorize" href="/learning-materials">Learning Materials</a>
          <a class="rootLink colorize" href="/blogs">Articles</a>
        </li>

        <li class="navSection secondary">
          <a class="rootLink item-proceed colorize" href="https://www.facebook.com/groups/sg.netdev" target="_blank">Join Us </a>
        </li>
      </ul>
    </div>
    <div class="visible-xs">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
            
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul id="header-main-menu" class="nav navbar-nav">
              <li><a href="/#about-us">About Us</a></li>
              <li><a href="/#meetups">Tech Meetups</a></li>
              <li><a href="/learning-materials">Learning Materials</a></li>
              <li id="hearder-main-menu-blogs"><a href="/blogs">.NET Articles</a></li>
            </ul>

            <div class="nav navbar-nav navbar-right">
              <a href="https://www.facebook.com/groups/sg.netdev/" target="_blank" class="general-button general-button--default navbar-right-button"> Join Us!</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>


  <div class="globalContent">

    <main>
      <header>
        <div id="dotnet">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

        <section id="intro">
          <div class="container-lg">

            <a class="announcement" href="http://www.hanselman.com/blog/FreeIntermediateASPNETCore10TrainingOnMicrosoftVirtualAcademy.aspx"
              target="_blank">
              <span class="new-pill">New</span>
              <span class="message">
                <strong>Free Training:</strong> Intermediate ASP .NET Core 1.0 Training on Microsoft Virtual Academy.
              </span>
            </a>

            <h1>
              Singapore .NET Developers Community
            </h1>
            <p class="common-paragraph">
              We invite all of .NET developers based in Singapore to join this community and learn .NET starting from beginners to advanced.
              Here, we share the knowledge on .NET or .NET-related ecosystem, eg. Microsoft Azure + .NET.
            </p>
            <ul>
              <li>
                <a href="https://www.facebook.com/groups/sg.netdev" class="general-button" target="_blank">
                  Join Us Now
                </a>
              </li>
              <li>
                <a href="https://www.meetup.com/NET-Developers-SG" class="general-button" target="_blank">
                  Attend Our Meetups
                </a>
              </li>
            </ul>
          </div>
        </section>
      </header>


      <section id="photos" class="visible-lg visible-md">
        <img alt="Rita Zhang and Bhargav Nookala on Building Blocks on Building Bots." src="images/meetup-banner-4.png" class="header-image" /><br />
        <img alt="Free C# Training (Beginners) for Non .NET Developers." src="images/meetup-banner-1.jpg" class="header-image" /><br />
        <img alt="Powershell Invoke-RestMethod vs IoT" src="images/meetup-banner-2.jpg" class="header-image" /><br />
      </section>

      <section id="primary">
        <section id="about-us" class="container-lg">
          <h2 class="section-title">
            <span>
              Building Singapore .NET Development Ecosystem
            </span>
          </h2>
          <p class="common-paragraph">
            In Singapore, the .NET ecosystem has not been as good as other countries. However, it does not mean there is no .NET developers or enterprises not using .NET. 
            In fact, most of the enterprises in Singapore are using .NET for their development.
          </p>
          <p class="common-paragraph">
            Hence, in this community, we would like to group .NET developers and those who wants to learn .NET together to contribute to the .NET ecosystem in Singapore.
          </p>
          <a class="common-paragraph general-link general-link--arrow" href="https://www.meetup.com/NET-Developers-SG">
            Find out more about our meetups
          </a>
        </section>



        <section id="mobile-photos" class="hidden-lg hidden-md container">
          <div class="row">
            <div class="col-sm-6">
              <img alt="Rita Zhang and Bhargav Nookala on Building Blocks on Building Bots." src="images/meetup-banner-4.png" class="header-image" />
            </div>
            <div class="col-sm-6 hidden-xs">
              <img alt="Free C# Training (Beginners) for Non .NET Developers." src="images/meetup-banner-1.jpg" class="header-image" />
            </div>
            <div class="hidden-sm hidden-xs">
              <img alt="Powershell Invoke-RestMethod vs IoT" src="images/meetup-banner-2.jpg" class="header-image" />
            </div>
          </div>
        </section>

        <section id="meetups">
          <h2 class="section-title">
            Tech Meetups
          </h2>
          
          <div class="container">
                @foreach(var individualEvent in meetupEvents) 
                {
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                <a href="@individualEvent.MeetupPageUrl" target="_blank">@individualEvent.Name</a>
                                <span class="larger-inline-spacing"></span>
                                @if (individualEvent.HappensAtDateTime >= DateTime.Now) {
                                    <a href="individualEvent.MeetupPageUrl" class="btn btn-success" role="button" target="_blank"><i class="fa fa-thumbs-up"></i> Join Us!</a>
                                } else {
                                    <a href="javascript:;" class="btn btn-danger disabled" role="button">Event is over.</a>
                                }
                                
                            </h4>
                            <p class="help-block">
                                <i class="fa fa-calendar-o"></i> @individualEvent.HappensAtDateTime.ToString("yyyy-MM-dd HH:mm")
                                <span class="larger-inline-spacing"></span>
                                <i class="fa fa-users"></i> @individualEvent.NumberOfRsvpCount participant@(individualEvent.NumberOfRsvpCount == 1 ? "" : "s")
                            </p>
                            <p class="help-block">@Html.Raw(individualEvent.Venue)</p>

                            <div class="event-description show-more-section">
                                @Html.Raw(individualEvent.Description)
                            </div>
                            
                        </div>
                        
                        <div class="col-md-4">
                            <div id="map-canvas-@individualEvent.Id" class="event-map"></div>
                        </div>
                    </div>
                }
          </div>
        </section>
      </section>

      <section id="secondary">

        <section id="facebook-topics">
            <div class="container">
                <h2 class="section-title section-title-center">
                    Latest Topics on Our Facebook
                </h2>
                <p class="common-paragraph">
                    @{ var facebookFeedsWithExternalLink = facebookFeeds
                          .Where(f => !string.IsNullOrEmpty(f.ArticleUrl) && !string.IsNullOrEmpty(f.ArticleName) && !string.IsNullOrEmpty(f.ArticleDescription))
                          .ToList(); 
                    }

                    <div class="row">
                        @for(int f = 0; f < MAXIMUM_NUMBER_OF_FACEBOOK_FEEDS && f < facebookFeedsWithExternalLink.Count(); f++)
                        {
                            var currentFeed = facebookFeedsWithExternalLink[f];

                            <div class="col-sm-6">
                                <h4 class="section-title" style="margin-top: 20px;">
                                    <a href="@currentFeed.ArticleUrl" target="_blank">
                                        @currentFeed.ArticleName
                                    </a>
                                </h4>
                                <div>
                                    <img src="https://graph.facebook.com/v2.8/@currentFeed.Author.Id/picture" alt="@currentFeed.Author.Name"
                                      class="img-circle" style="width: 20px;"/> 
                                    Submitted by @currentFeed.Author.Name on @currentFeed.UpdatedTime.ToString("dd MMM yyyy")
                                </div>
                                <p class="common-paragraph">
                                    @currentFeed.ArticleDescription
                                </p>
                                <a class="common-paragraph general-link general-link--arrow" href="@currentFeed.ArticleUrl" target="_blank">
                                    Learn more
                                </a>
                            </div>

                            if ((f + 1) % 2 == 0) 
                            {
                                <div style="clear: both;"></div>
                            }
                        }
                    </div>
                </p>

                <div style="text-align: center; margin-top: 20px;">
                    <a class="general-button general-button--default" href="https://www.facebook.com/groups/sg.netdev" target="_blank">
                        Read More on Our Facebook Group
                    </a>
                </div>
            </div>


        </section>
        

        <section id="sponsors">
          <div class="container">
            <div class="info-section-description">
                <div class="sponsor-logos">
                    <img src="images/sponsor-jetbrains.png" class="sponsor-logo" />
                    <img src="images/sponsor-scape.png" class="sponsor-logo" />
                    <img src="images/sponsor-microsoft.png" class="sponsor-logo-last" />
                </div>
            </div>
          </div>
        </section>

      </section>
    </main>



  </div>

  <footer class="globalFooter withCards">

    <article class="footer-paragraph container">
      <div class="row">
        <div class="col-md-6">
          <div class="content">
            <h1 class="title">
              <span class="subtitle">Ready to contribute in Singapore .NET Community?</span> Join us now or attend our meetups.
            </h1>
          </div>
        </div>

        <div class="col-md-6">
          <div class="general-button-group buttons">

            <a class="general-button general-button--default" href="https://www.facebook.com/groups/sg.netdev" target="_blank">
              Join Us Now
            </a>

            <a href="https://www.meetup.com/NET-Developers-SG" class="general-button" target="_blank">
              Attend Our Meetups
            </a>

          </div>
        </div>
      </div>
    </article>



    <article class="globalFooterNav">
      <div class="container-lg">

        <ul>

          <li>
            <a class="rootLink" href="https://www.facebook.com/groups/sg.netdev" target="_blank">
              Community Facebook Group
            </a>
          </li>

          <li>
            <a class="rootLink" href="https://www.meetup.com/NET-Developers-SG" target="_blank">
              Community Meetup
            </a>
          </li>
          
          <li class="copyright">&copy; @DateTime.Now.Year .NET Developers Community SG</li>
        </ul>

      </div>
    </article>


  </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/popup-image.js" asp-append-version="true"></script>
        <script src="~/js/show-more.js" asp-append-version="true"></script>
        <script src="~/js/header-scroll.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous" asp-fallback-src="~/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery">
        </script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="jQuery.ui"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyASOH8DUiLOI6lGdbhzKg0Cd1c0vjAIAZA">
    </script>

    <script>

        @foreach(var individualEvent in meetupEvents) 
        {
            <text>
            function initializeMap_@(individualEvent.Id)() {
                var myLatlng = new google.maps.LatLng(@individualEvent.Venue.Latitude, @individualEvent.Venue.Longitude);
                var mapOptions = {
                    scrollwheel: false,
                    center: myLatlng,
                    zoom: 16
                };

                var map = new google.maps.Map(document.getElementById('map-canvas-@individualEvent.Id'),
                    mapOptions);

                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: '@individualEvent.Name'
                });
            }
            google.maps.event.addDomListener(window, 'load', initializeMap_@individualEvent.Id);
            </text>
        }
        
        
        $('.show-more-section').showmore({collapsedHeight: '400px',});
    </script>

</body>

</html>